USE [master]
GO
/****** Object:  Database [dbTrafficJam]    Script Date: 8/8/2019 5:09:40 PM ******/
CREATE DATABASE [dbTrafficJam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTrafficJam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\dbTrafficJam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTrafficJam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\dbTrafficJam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTrafficJam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTrafficJam]
GO
USE [dbTrafficJam]
GO
/****** Object:  Table [dbo].[FCM]    Script Date: 8/8/2019 5:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
 CONSTRAINT [PK_FCM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraficJam]    Script Date: 8/8/2019 5:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraficJam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImgName] [nvarchar](max) NULL,
	[vehicleNum] [int] NULL,
	[Longtitude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[streetName] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_TraficJam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
